* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/* navbar */
#navbar {
    background: linear-gradient(#202020, #303030);
}

#logo {
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

#logo img {
    border-radius: 10px;
    width: 40px;
}

.nav-item .nav-link {
    color: white;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.nav-item .nav-link:hover {
    background: #f7f5f2;
    border-radius: 5px;
    color: #527147;
}

/* navbar */

/* submenu start */
#submenu {
    margin-top: 60px;
}

#submenu .heading3 {
    text-align: center;
    font-size: 30px;
    
    font-weight: bold;
    border-bottom: 2px solid;
}

#container2 {
    margin-top: 50px;
}

#submenu .card {
    box-shadow: rgba(149, 157, 165, 0.2);
}

.star i {
    color: goldenrod;
   
}

#submenu h3 {
    text-align: center;
    
    padding-top: 10px;
}

#submenu p span{
    float: right;
    cursor: pointer;
}
/* submenu end */